# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
*.userprefs
sar-opal-base/*.csproj
*.pidb
*.suo
sar-opal-base/*.sln*
*.user
*.unityproj
*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db 
# ======================== #
# ignore packaged app also #
# ======================== #
*.apk
sar-opal-base/Assets/Resources/websocket_config.txt
